<div class="question" style="display:none">
  <%= form_for question,
               url: url_for(controller: :questions, action: :check),
               remote: true,
               method: :put,
               html: { id: :stage, 'data-format' => :json } do |f| %>
    <div class="validation-error">
    </div>

    <b>QUESTION</b>   
    <p class="question">
      <%= question.text %>
    </p>

    <% question.answers.each do |a| %>
        <p class="answers">
          <%= f.radio_button :answers, a.id %>
          <%= f.label :answers, a.text %>
        </p>
    <% end %>

    <%= f.hidden_field :question_id, value: question.id %>
    <%= f.submit 'submit' %>

    <div class="stage_result">
    </div>
    <div class="explanation">
    </div>
  <% end %>
</div>
