<style>
  .box {
    border:1px dashed black;
    width:100px;
    height:100px;
    float:right;
  }

</style>

<script>
 $(function() {
  $('.box').on('click', function() {
    var next_id= $(this).attr('data-next_id');
    $("#box_" + next_id)
      .css('background-color', 'black')
      .css('color', 'white');
      return false;
  });

  $(".info_button").each(function() {
    $(this).on('click', function() {
      alert('hello!');
      return false;
    });
  });
 });
</script>

<div id="gameboard">
  <% @pieces.each do |p| %>

    <div class="box" data-next_id="<%= p.next.id %>"
        id="box_<%= p.id %>"
        style="background-color:#33fea<%= p.id %>;">
        <span style="font-weight:bold"> <%= "#{p.id} :  #{p.title}" %> </span>
      <br />
      I point to <%= p.next.id %>
      <br />
      <input class="info_button" type="button" value="info" />

    </div>

  <% end %>
</div>
