<%= form_for(@stage) do |f| %>
  <% if @stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @stage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3> Standard page layout </h3>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :internal_name %><br />
    <%= f.text_field :internal_name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.check_box :start %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :featured_text %><br />
    <%= f.text_area :featured_text, cols: 80 %>
  </div>
  <div class="field">
    <%= f.label :featured_image_url %><br />
    <%= f.text_field :featured_image_url %><br />
    <%= image_tag @stage.featured_image_url %>
  </div>
  <div class="field">
    <%= f.label :nexts %><br />
    <ul>
    <% @stage.nexts.each do |n| %>
      <li style="margin-left:30px;"><%= n %><br /></li>
    <% end %>
    </ul>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <p>
      <%= builder.label :text, "Question" %><br />
      <%= builder.text_area :text, rows: 3 %>
    </p>
    <p> 
      <%= builder.label :answers, "Answers" %><br />
      <%= builder.text_area :answers, rows: 20, cols: 120, id: "answers" %>
    </p>
    <p>
      <%= builder.label :explanation, "Explanation" %><br />
      <%= builder.text_area :explanation, rows: 7 %>
    </p>
  <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>

<script>
  $(function() {
    // var json = <%= raw @stage.questions.to_json %>;
    // console.log(JSON.stringify(json));
    // console.log(json[0]["answers"]);
    // var obj = json[0]["answers"];
    // var parsed = JSON.parse(obj);
    // alert(parsed["1"]["text"]);

    // var j2 = <%= raw @stage.questions.first.answers.to_json %>;
    // console.log(j2);
    // var obj = JSON.parse(j2);
    // console.log(obj["1"]);

    // var answers = $('#answers').data('answers');
    // answers = JSON.parse(answers);
    // $('#answers').html(function() {
    //   var html = '';
    //   $.each(answers, function() {
    //     html += this.text + '<br />';
    //   });
    //   return html;
    // });

    var answers = $('#answers').html();
    answers = JSON.parse(answers);
    $('#answers').html(JSON.stringify(answers, null, 2));



  });
</script>

<% end %>

