<h2><%= @stage.label %></h2>

<%= image_tag @stage.featured_image_url, class: :featured %>

<%= raw @stage.featured_text %>

<% @stage.questions.each do |q| %>
  <%= render partial: 'questions/q_and_a', locals: {question: q} %>
<% end %>

<%= hidden_field :stage, :id %>
