<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @stage.title %>
</p>

<p>
  <b>Content:</b>
  <%= @stage.content %>
</p>

<p>
  <b>Text:</b>
  <%= @stage.text %>
</p>


<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
